<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <h1>My Message</h1>
   <form method="POST" action="/new">

    <label for="Name">Name:</label>
    <input type="text" name="nameText" id="name">
    <br>
     
    <label for="Message">Message:</label>
    <input type="text" name="messageText" id="message">
    <br>

    <button type="submit">Add message</button>
   </form> 
</body>
</html>